use_default_settings: true

general:
  instance_name: "SearXNG"

server:
  secret_key: "ultrasecretkey"
  limiter: false
  image_proxy: false

search:
  formats:
    - html
    - json

ui:
  default_locale: ""

engines:
  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
