use_default_settings: true

general:
  instance_name: "SearXNG"

server:
  secret_key: "3707c65c9311ab4f5675071536c1814219fd332fd352e71b43d4113918b813ee"
  limiter: false
  image_proxy: false

search:
  formats:
    - html
    - json

ui:
  default_locale: ""

engines:
  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
